<%- include("../partials/header") %>

<div class="container col-md-12 m-0 p-0">
    <section id="header" class="jumbotron text-center d-flex flex-column align-items-start">
        <h1 class="display-4">PROFIT CALCULATOR</h1>
        <p class="lead">Counts for Duties, Exchange Rate, and Fees!</p>
    </section>
</div>

<hr id="divider">

<div class="container col-6">
    <a href="/calculator" class="btn btn-light col-12 submitButton">Make Another Search</a>
</div>

<div class="container col-6 d-flex flex-column mt-2">
    <h4>Search Results</h4>
    <% products.forEach(product => { %>
        <div class="card flex-row flex-wrap">
            <img class="card-img-right" src="<%= product.image %> ">
            <div class="card-body d-flex flex-column">
                <h3 class="card-title"><%= product.name %> </h3>
                <p class="card-text">Average Profit: <%= helpers.calculateResale(product, options) %> <%= options.localCurrency %></p>
                <p class="card-text">Highest Bid Size: <%= product.market.highestBidSize %> </p>
                <div class="d-flex flex-row justify-content-between">
                    <a href="#" class="btn btn-light submitButton">See more Details</a>
                    <a href="#" class="btn btn-light submitButton">Add to Favorites</a>
                </div>
            </div>
        </div>
    <% }) %> 
</div>

<%- include("../partials/footer") %>